.inputForm {
    display: flex;
    flex-direction: column;
    padding: 16px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.label {
    margin: 16px;
    padding: 16px;
}

.title {
    display: flex;
    justify-content: space-around;
    margin: 10px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.name {
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    margin: 9px;
    padding: 3px;
    display: flex;
    justify-content: flex-start;
    font-size: larger;
    font-weight: bold;
    
}

.button2 {
    border-radius: 16px;
    margin: 9px;
}


.inputGroup {
    border-radius: 8px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}
